.carrito {
    width: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: block;
}


.carritoCompras{
  position: relative;
  display: inline-block; 
}


.carritoCompras p{
  position: absolute;
  top: 20px;             
  right: 40px;           
  min-width: 18px;
  height: 18px;
  padding: 0 5px;       
  border-radius: 999px;  
  line-height: 18px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  background: #047a35;   
  color: #fff;
  box-shadow: 0 0 0 2px #fff; 
  user-select: none;
}
